<!DOCTYPE html>
<html>

<head>
    <title>vsbfn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/c.scss">
</head>

<body>

    <div id="app" class="header container">
        <div class="row">
        <div class="col sm">
            <p><h1> {{ title }} |</h1></p>
        </div>

        <div class="col md">
            <p><h1>Lorem</h1></p>
        </div>
    </div>
    </div>

<div class="container">
    <form>
        <div id="postform" class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>

</html>

<script>
const app = new Vue({
    el: '#app',
    data: {
        title: 'vikesbfn'
    }
})
</script>